<body>

    <div class="main-wrapper">

        <div class="page-wrapper">

            <div class="content">

                <div class="page-header">
                    <div class="page-title">
                        <h4>Danh Sách Sản Phẩm</h4>
                        <h6>Danh sách Tình Trạng Sản Phẩm</h6>
                    </div>
                 
                </div>
   
                    <h4>Danh sách sản phẩm cần bổ sung vào kho</h4>
                <div class="card  d-flex justify-content-end align-items-end mb-5">
                    <table class="datatable table" id="myTableProduct">
                        <thead class="table-light">
                            <tr>
                                <th class="tb-col">STT</th>
                                <th class="tb-col">Mã hàng</th>
                                <th class="tb-col">Tên hàng</th>
                                <th class="tb-col">BarCode</th>
                                <th class="tb-col">SKU</th>
                                <th class="tb-col">Giá Nhập</th>
                                <th class="tb-col">Số Lượng</th>
                                <th class="tb-col">Loại Sản phẩm</th>
                            </tr>
                        </thead>

                        <tbody>
                                {{#each productMinQuantity}}
                            <tr>
                                <td>{{add @index 1}}</td>
                                <td>{{this.Product_ID}}</td>
                                <td class="productimgname">
                                    <a href="javascript:void(0);" class="product-img">
                                        <img src="{{this.Image}}" alt="product">
                                    </a>
                                    <a href="javascript:void(0);">{{this.Name}}</a>
                                </td>
                                <td>{{this.Barcode}}</td>
                                <td>{{this.SKU}}</td>
                                <td>{{this.Cost_Price}}</td>
                                <td>{{this.Quantity}}</td>
                                <td>{{this.Category_Name}}</td>
                              
                            </tr>
                                {{/each}}

                         

                        </tbody>

                    </table>
                            

            </div>
                    <h4>Danh sách sản phẩm có số lượng tồn kho lớn</h4>

<div class="card  d-flex justify-content-end align-items-end">
                    <table class="datatable table" id="myTableProduct">
                        <thead class="table-light">
                            <tr>
                                <th class="tb-col">STT</th>
                                <th class="tb-col">Mã hàng</th>
                                <th class="tb-col">Tên hàng</th>
                                <th class="tb-col">BarCode</th>
                                <th class="tb-col">SKU</th>
                                <th class="tb-col">Giá Nhập</th>
                                <th class="tb-col">Số Lượng</th>
                                <th class="tb-col">Loại Sản phẩm</th>
                            </tr>
                        </thead>

                        <tbody>
                                {{#each productMaxQuantity}}
                            <tr>
                                <td>{{add @index 1}}</td>
                                <td>{{this.Product_ID}}</td>
                                <td class="productimgname">
                                    <a href="javascript:void(0);" class="product-img">
                                        <img src="{{this.Image}}" alt="product">
                                    </a>
                                    <a href="javascript:void(0);">{{this.Name}}</a>
                                </td>
                                <td>{{this.Barcode}}</td>
                                <td>{{this.SKU}}</td>
                                <td>{{this.Cost_Price}}</td>
                                <td>{{this.Quantity}}</td>
                                <td>{{this.Category_Name}}</td>
                              
                            </tr>
                                {{/each}}

                         

                        </tbody>

                    </table>
                 
                </div>
        </div>

    </div>

</body>