<!DOCTYPE html>
<html lang="en">

<body>
    <div class="main-wrapper">

        <div class="page-wrapper">
            <div class="content">

                <div class="page-header">
                    <div class="page-title">
                        <h4>Chi Tiết Nhập Kho</h4>
                        <h6>Chi tiết nhập kho</h6>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">

                        <div class="productdetails">

                            <ul class="product-bar">
                                <li>
                                    <h4>Mã phiếu nhập</h4>
                                    <h6>{{import.Import_ID}}</h6>
                                </li>
                                <li>
                                    <h4>Ngày nhập kho</h4>
                                    <h6>{{formatDateTime import.Date}}</h6>
                                </li>
                                <li>
                                    <h4>Người Nhập Kho</h4>
                                    <h6>{{import.EmployeeName}}</h6>
                                </li>
                              
                            </ul>

                        </div>

                    </div>
                    
                </div>

                <div class="card">
                    <div class="card-body">

                        <div class="card">
                            <table class="datatable-init table">
                                <thead class="table-light">
                                    <tr>
                                        <th class="tb-col">STT</th>
                                        <th class="tb-col">Mã hàng</th>
                                        <th class="tb-col">Tên hàng</th>
                                        <th class="tb-col">Số lượng</th>
                                        <th class="tb-col">Vị trí nhập hàng</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    {{#each importDetail}}
                                    <tr>
                                        <td>{{add @index 1}}</td>
                                        <td>{{this.Product_ID}}</td>
                                        <td class="productimgname">
                                            <a href="javascript:void(0);" class="product-img">
                                                <img src="{{this.Image}}" alt="product">
                                            </a>
                                            <a href="javascript:void(0);">{{this.ProductName}}</a>
                                        </td>
                                        <td>{{this.Quantity}}</td>
                                        <td>{{this.InventoryName}}</td>
                                    </tr>

                                    {{/each }}
                                   
    
                                </tbody>
    
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</body>